argcomplete==3.5.2
astroid==3.3.6
certifi==2024.8.30
charset-normalizer==3.4.0
colorlog==6.9.0
coverage==7.6.9
dill==0.3.9
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
idna==3.10
isort==5.13.2
m3u8==6.0.0
mccabe==0.7.0
nox==2024.10.9
packaging==24.2
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
pylint==3.3.2
requests==2.32.3
tomlkit==0.13.2
urllib3==2.2.3
virtualenv==20.28.0
